.nav-container {
  display: flex;
}

.nav-header {
  max-height: 60px; /* Adjust this value based on your needs */
  width: 100%; /* This ensures the navbar takes the full width */
  max-width: 1200px; /* The navbar will not be wider than 1200px */
  margin-left: auto; /* These margin settings will */
  margin-right: auto; /* center the navbar if the screen is wider than 1200px */
  background-color: transparent; /* Just for visualization, you can adjust as needed */
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 480px) {
  .btn {
    font-size: 0.75rem;
    padding: 2px 5px;
  }
}

.App-logo {
  max-width: 13%;
}

.App-logo-large {
  max-width: 60%;
}

.subtitle {
  padding: 30px;
}

.container-fluid {
  background-color: crimson;
}

.browser-buttons {
  display: inline-flex;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  margin-top: 30px;
}

.browser-buttons:hover {
  background-color: #0056b3;
  text-decoration: none;
}
